﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row rounded-corner align-items-end">
    <div class="form-group">
        <label for="cardno">Nomor Kartu</label>
        <input type="text" class="form-control" id="cardno" />
    </div>
    <img alt="bank" class="logo" src="~/images/bri.png" id="bank" />
    <img alt="type" class="logo" src="~/images/bri.png" id="type" />
</div>


<style>
    .logo {
        height: 4.7em;
        margin-left: 10px
    }

    .form-control {
        min-width: 23em;
    }

    .rounded-corner {
        border-radius: 5px;
        border: 2px solid #73AD21;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

@section Scripts {
    <script>

    $(document).ready(function () {
        $('#cardno').payment('formatCardNumber');
        $('#cardno').keyup(function (e) {
            e.preventDefault();
            
            $val = $(this).val().replace(/\s/g, "");
            $length = $val.length;
            console.log($length);
            if ($length == 6) {
                $.get("api/card?prefix=" + $val).done(function (data) {
                    $('#type').prop('src', 'images/' + data.cardLogo);
                    $('#bank').prop('src', 'images/' + data.bankLogo);
                });
            }
            return false;
        });
    });
    </script>
}